.header {
    background-color: #FFE9C1;
    width: 100%;
    height: 150px;
}
#items {
    display: flex;
    justify-content: flex-end;
    
}
.category{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 25px;
    font-family: 'Gentium Book Basic';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}
.box {
    height: 50px;
    background-color: darkcyan;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
#search{
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 0px;
    transition: 0.8s ease;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
#search::placeholder {
    color: antiquewhite;
  }
a {
    color: whitesmoke;
    text-align: center;
    width: 50px;
    font-size: 18px;
  }
#user{
    margin-top: 52px;
    margin-left: 25px;
}
#shopping-cart{
    margin-top: 52px;
    margin-left: 25px;
    margin-right: 15px;
}
.box:hover #search {
    width: 150px;
    margin: 0 20px;
    border-bottom: 2px solid red;
  }
#search:focus {
    width: 200px;
    margin: 0 20px;
    border-bottom: 2px solid red;
  }
#logo{
    width: 100px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}
.main {
    background-color: #D9EBFF;
    height: 630px;

}
#banner {
    height: 150px;
    width: 700px;
}
.ban {
    text-align: center;
}
.sign-in{
    background-color: #FFE9C1;
    height: 380px;
    margin-top: 50px;
}
.clear {
    clear: both;
}
#square{
    float: left;
}
#sign-table {
    text-align: center;
    margin: auto;
    position:relative;
    top: 50px;
}
.acount{
    width: 250px;
    border-radius: 4px;
}
#submit{
    background-color: #340C04;
    color: white;
}
.support{
    color:#340C04;
}
#footer-pic {
    width: 100%;
    height: 100%;
}
#detail {
    text-align: center;
}
.sign-table td{
    height: 35px;
}
.sign-table th{
    height: 50px;
}
.buttons_added {
    opacity:1;
    display:inline-block;
    display:inline flex;
    white-space:nowrap;
    vertical-align:top;
}
.minus {
    border-radius:16px 0 0 16px;
    width:35px;
    border:1px solid #ececec;
    background-color: none;
}
.plus {
    border-radius:0 16px 16px 0;
    width: 35px;
    border:1px solid #ececec;
    background-color: none;
}
.plus:hover{
    background-color: #ececec;
}
.minus:hover{
    background-color: #ececec;
}
.plus svg{
    color: #909090;
}
.minus svg{
    color: #909090;
}
.plus:hover svg{
    color:#4f4f4f;
}
.minus:hover svg{
    color:#4f4f4f;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;
    border-left:0;
    border-right:0;
    padding:0;
    width: 100px;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
#product-picture {
    float: left;
    width: 50%;
    height: 300px;
}
.main-product {
    background-color: white;
    height: 930px;
}
#des-table{
    margin-left: 50px;
    border:solid 1px ;
}
#des-table td{
    width: 700px;
    border:solid 1px;
    height: 30px;
    padding-left: 10px;
}
#product-properties{
    margin-top: 50px;
}
#product-picture-detail{
    width: 350px;
    height: 350px;
}
#product-picture{
    padding-left:200px;
}
#suggestion-product {
    padding-top: 30px;
}
input.btn btn-primary{
    cursor: pointer;
}
ul.suggestion-product-list li img{
    height: 190px;   
}
ul.suggestion-product-list li {
    float: left;
    height: 300px;
}
ul.suggestion-product-list img{
    width: 100%;
}
ul.suggestion-product-list a{
    text-decoration: none;
}
