.aboutuspage{
    padding: 0;
    margin: 0;
    background-color: #fff7e6;
}

.aboutuspage .image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.aboutuspage .wrapper{
    height: auto;
    width: auto;
    margin: 0 auto;
    float: left;
}

.aboutuspage .infor{
    float: left;
    margin-top: 30px;
    margin-left: 150px;
}
.aboutuspage .one{
    color: #4d2600;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 70px;
}
.aboutuspage .two{
    color: rgb(153, 2, 2);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    margin-left: 20px;
}

.aboutuspage .feel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 600px;
    margin-right: 40px;
    margin-top: 40px;
    font-size: larger;
}


.aboutuspage hr {
    width: 100%;
    border: 4px solid transparent;
    border-image: repeating-linear-gradient(-45deg, rgb(248, 110, 124), rgb(247, 73, 99) 10px, transparent 10px, transparent 20px) 10;
    animation: wave-animation 2s linear infinite;
    margin-top: 50px;
  }

  .aboutuspage  .map{
    float: left;
    margin-top: 30px;
    margin-left: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .aboutuspage .mp{
    color: #4d2600;
    font-size: 40px;
    margin-left: 60px;
}
.aboutuspage .maps{
    float: right;
    margin-left: 350px;
    height: 400px;
    width: 900px;
    margin-bottom: 40px;
}
