.aboutuspage{
    padding: 0;
    margin: 0;
    background-color: #fff7e6;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

.aboutuspage .head{
    background-color: #fff7e6;
    overflow: hidden;
}
.aboutuspage .heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.aboutuspage .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.aboutuspage .content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.aboutuspage .content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.aboutuspage .content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
    animation: fadeInUp 2s ease;
}
.aboutuspage .image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

.aboutuspage img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.aboutuspage hr {
    width: 100%;
    border: 4px solid transparent;
    border-image: repeating-linear-gradient(-45deg, rgb(248, 110, 124), rgb(247, 73, 99) 10px, transparent 10px, transparent 20px) 10;
    animation: wave-animation 2s linear infinite;
    margin-top: 50px;
  }

  .aboutuspage  .map{
    float: left;
    margin-top: 30px;
    margin-left: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .aboutuspage .mp{
    color: #4d2600;
    font-size: 40px;
    margin-left: 60px;
}
.aboutuspage .maps{
    float: right;
    margin-left: 350px;
    height: 400px;
    width: 900px;
    margin-bottom: 40px;
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}