html{
    overflow-x: hidden;
    overflow-y: auto;
}
body{
    background-color: #fff7e6;
    color: #4d2600 ;
    font-size: large;
    font-family: 'Segoe UI';
    
}
h1 {
    font-weight: bold;
}
hr {
    width: 150%;
    margin-bottom: 30px;
}

.title{
    margin-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
    line-height: 0.5;
}

.title1 {
    color: rgb(153, 2, 2);
    font-family: monospace;
    letter-spacing: 7px;
}
.info {
    padding-left: 50px;
    line-height: 0.7;
    padding-bottom: 40px;
}

.wave-border {
    width: 100%;
    border: 4px solid transparent;
    border-image: repeating-linear-gradient(-45deg, rgb(243, 167, 175), rgb(247, 73, 99) 10px, transparent 10px, transparent 20px) 10;
    animation: wave-animation 2s linear infinite;
}
@keyframes wave-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

.container{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-container {
    border: none;
    background-color: rgb(248, 237, 192);
    border-radius: 5px;
    padding: 20px;
    width: 1000px;
    height: 350px;
}

.form {
    margin-bottom: 10px;
}

.btn-primary{
    background-color: rgb(243, 217, 104);
    color: #4d2600;
    border: none;
}

.btn-primary:hover{
    background-color: rgb(246, 221, 245);
    color: #4d2600;
    border: dashed;
}
