.logo {
    border-radius: 100px;
}

.bigger-icon {
    font-size: 2rem;
}

.account {
    text-decoration: none;
    color: black;
}































































/* body {
    height: 3000vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
} */

/* .container {
    font-size: larger;
} */

/* .bigger-icon {
    font-size: 3rem;
} */

/* .nav-item {
    margin-left: 20px;
    margin-right: 20px;
} */

