.logo {
    border-radius: 100px;
    top: 0;
}

.bigger-icon {
    font-size: 2rem;
}

.account {
    text-decoration: none;
    color: #4d2600;
}

.account:hover {
    color: #4d2600;
}

.navbarr li:hover .dropdown-menu {
    display: block;
    max-height: 200px;
    background-color: pink;
    top: 55px;
}

.dropdown-menu a:hover {
    background-color: #b8e3ff;
}

.dropdown-menu {
    overflow: hidden;
    max-height: 0;
    /* -webkit-transition: all 0.5s ease-out; */
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 23px;
}

.navbarr {
    font-family: Segoe UI;
    color: #4d2600;
}

/* .navbarr li:hover {
    background-color: palevioletred;
    border-radius: 16px;
}
 */

 .nav-link::after{
    content:'';
    height: 3px;
    border-radius: 2px;
    width: 100%;
    background-color: #4d2600;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: 0.8s;
    pointer-events: none;
 }

.nav-link {
    position: relative;
}

.nav-link:hover::after{
    opacity: 1;
}

.myheader {
    box-sizing: border-box; 
    padding: 0px;
}

.nav-item {
    position: relative;
}


/* .navbarne {
    box-sizing: border-box;
    background-color: bisque;
    height: 66.5;
    width: 1092;
    padding: 0;
} */

.loginne {
    float: right;
}




















































/* body {
    height: 3000vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
} */

/* .container {
    font-size: larger;
} */

/* .bigger-icon {
    font-size: 3rem;
} */

/* .nav-item {
    margin-left: 20px;
    margin-right: 20px;
} */

