.logo {
    border-radius: 100px;
}

.bigger-icon {
    font-size: 2rem;
}

.account {
    text-decoration: none;
    color: black;
}

.navbarr li:hover .dropdown-menu {
    display: block;
    max-height: 200px;
    background-color: pink;
}

.dropdown-menu a:hover {
    background-color: turquoise;
}

.dropdown-menu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.nav-item {
    padding-left: 20px;
}






























































/* body {
    height: 3000vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
} */

/* .container {
    font-size: larger;
} */

/* .bigger-icon {
    font-size: 3rem;
} */

/* .nav-item {
    margin-left: 20px;
    margin-right: 20px;
} */

