.homebody{
    background-color: #fff7e6;
    font-family: 'Segoe UI';
    color: #4d2600;
}
.homebody .main {
    display: flex;
    align-items: center;   
    padding-top: 40px;
}
.homebody .mainname{
    flex-grow: 1;
    text-align:center;
    font-size: 250%;
    font-family:cursive;
    color: #4d2600;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.4s ease-out, transform 0.3s ease-out;

}
.homebody .mainname.show{
    opacity: 1;
    transform: scale(1);
}

.homebody .item1{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out; 
}

.homebody .col{
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    padding: 20px;
    font-size:large;
 
}
.homebody .namecake {
    color: #4d2600;
    text-decoration: none;
    text-align: center;
}
.homebody .slick-arrow
{
    font-size: 24px;
    color: #4d2600;
}
.slick-prev{
    background-color: #fff7e6;
    border: none;
    padding: 10px 10px;
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.slick-next{
    background-color: #fff7e6;
    border: none;
    padding: 10px 10px;
    opacity: 0.7;
}
.homebody table{   
    width: 100%;
    border: 10px dashed rgb(234, 220, 155);
    font-family: 'Segoe UI';
   
}
.homebody td {
    vertical-align: middle;  
}
.homebody .border {
    width:23%;
    background-color: rgb(234, 220, 155);
    margin-top: 50px;
}
.homebody .text{ 
    text-align: center;
    width:50%;
}
.homebody .image{
    text-align: right;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.4s ease-out, transform 0.3s ease-out;
}

.homebody .image.show {
    opacity: 1;
    transform: scale(1);
}
.homebody .intext{
    font-size: 300%;
    font-family:cursive;
    color: #4d2600;
<<<<<<< HEAD
}



=======
}
>>>>>>> 65bbb58e0fc54296b89dbfff9bab4b74570a5805
