.homebody{
    background-color: rgb(215, 231, 248);
    font-family: 'Segoe UI';
    color: rgb(61, 35, 22);
}
.homebody .main {
    display: flex;
    align-items: center;   
}
.homebody .mainname{
    flex-grow: 1;
    text-align:center;
    font-size: 250%;
    font-family:cursive;
    color: rgb(118, 66, 39);

}

.homebody .item1{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.homebody .col{
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    padding: 20px;
    font-size:large;
 
}
.homebody .slick-arrow
{
    font-size: 24px;
    color: rgb(61, 35, 22);
}
.homebody .slick-prev{
    background-color: rgb(215, 231, 248);
    border: none;
    padding: 10px 10px;
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.homebody .slick-next{
    background-color: rgb(215, 231, 248);
    border: none;
    padding: 10px 10px;
    opacity: 0.7;
}
.homebody table{   
    width: 100%;
    border: 10px dashed rgb(234, 220, 155);
    font-family: 'Segoe UI';
   
}
.homebody td {
    vertical-align: middle;  
}
.homebody .border {
    width:23%;
    background-color: rgb(234, 220, 155);
    margin-top: 50px;
}
.homebody .text{ 
    text-align: center;
    width:50%;
}
.homebody .image{
    text-align: right;
}
.homebody .intext{
    font-size: 300%;
    font-family:cursive;
    color: rgb(118, 66, 39);
}