.menubody {
    margin: 0;
    padding: 0;
    background: #fff7e6;
    font-family: 'Segoe UI';
    display:flow-root;
    
}

.menubody .wrapper{
    height: 1000px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI';
    padding-top: 50px;
}

.menubody  .chose {
    border: 1px solid #ffffff;
    height: auto;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    background: white;
    border-radius: 20px;
}
.menubody  p.menu {
    text-align: center;
    color: white;
    background: #4d2600;
    font-weight: 1000;
    height: 50px;
    border-radius: 20px 15px 0 0;
}
.menubody  ul.danhmuc {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menubody  ul.danhmuc li {
    margin: 5px;
    padding: 5px;
}
.menubody  ul.danhmuc li a {
    text-decoration: none;
    color: #663300;
    font-weight: 700;
}
.menubody .underline-list li {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }
  
  .menubody  .underline-list li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #663300;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .menubody .underline-list li:hover::after {
    transform: scaleX(1);
  }

  .menubody .maincontent {
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
    padding-left: 40px;
    font-size: large;
    
}
.menubody  ul.product {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.menubody .namecake {
    color: #4d2600;
    text-decoration: none;
    text-align: center;
}

.menubody ul.product li {
    width: 20%;
    margin: 10px;
    float: left;
    background: #ffffe6;
    height: 350px;
    border-radius: 20px;
    text-align: center;
    
}
.menubody ul.product li a {
    text-decoration: none;
}
.menubody ul.product li img {
    width: 100%;
    border-radius: 20px;
}
.menubody p.product_list {
    text-align: center;
    color: #663300;
    font-weight: 1000;
    
}
.menubody p.price {
    text-align: center;
    color: #663300;
    font-weight: 1000;
}


.menubody .clear{
    clear: both;
}