@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI';
}

.linkmenu{
    text-decoration:none; 
    color: #8B7E74;

  }

  .linkmenu:hover {
    color: #4d2600;
  }
.card-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

img {
    width: 90%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-magnifier-container {
    position:relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 1px dashed #4d2600;
    border-radius: 50%;
    cursor: none;
    width: 60px;
    height: 60px;
  }

.img-showcase img {
    min-width: 100%;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #4d2600;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #4d2600;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #4d2600;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #4d2600;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    color: #4d2600;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,

.purchase-info .btn {
    border: 1px solid #FFE3BB;
    border-radius: 18px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7px;
    background-color: #FFFBF5;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn:last-of-type {
    background: #FAEED1;
    font-size: 17px;
}

.purchase-info .btn:hover {
    opacity: 0.9;
    background-color: #FFE3BB;
    font-style: oblique;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}

.p-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    margin: 0px 20px;
}

.p-img-container{
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-img-a,
.p-img{
    width: 100%;
    height: auto;
    display: flex;
}

.p-img a img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.p-box-text{
    margin-top: 5px;
    width: 100%;
}

.product-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.product-category span{
    color: #4d2600;
    font-size: 0.9rem;
    margin: 5px 0px;
}

.product-name{
    color: #4d2600;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-name:hover{
    color: aqua;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.price-buy .p-price{
    font-size: 1.3rem;
    color: #4d2600;
    font-weight: 700;
}

.price-buy .p-buy-btn{
    color: red;
    margin: 0px 5px;
}

.title {
    text-align:center; 
    font-size: 200%;
    font-family: serif;
    font-weight: 12px;
    font-style:oblique;
    color:#4d2600;
    padding-bottom: 30px;
    letter-spacing: 2px;
    margin-top:30px;
}

.img-select{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out; 
}

.col {
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    padding: 20px;
    font-size:large;
}

.img-item{
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.slick-arrow
{
    font-size: 24px;
    color: #4d2600;
}

.slick-prev{
    background-color: #fff7e6;
    border: none;
    padding: 10px 10px;
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.slick-next{
    background-color: #fff7e6;
    border: none;
    padding: 10px 10px;
    opacity: 0.7;
}