.newbody {
    margin: 0;
    padding: 0;
    background: #fff7e6;
    font-family: 'Segoe UI';
    height: auto;
}

.newbody .wrapper{
    height: auto;
    
    margin: 0 auto;
    font-family: 'Segoe UI';
}

.newbody h1 {
    text-align: center;
    font-weight: 700;
}

.newbody .main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    margin-left: 50px;
    font-family:'Segoe UI';
}

.newbody a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-family: 'Segoe UI';
    overflow: hidden;
    text-overflow: ellipsis;
}

.main li {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    width: 35%;
    font-family: 'Segoe UI';
}
.main li a img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.main li a img:hover {
    transform: scale(1.1);
}
.main li a p {
    margin-top: 20px;
    font-family: 'Segoe UI';
}